html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
  --moon: #FFD;
}

@keyframes sunsetGradient {

  0%   {background: linear-gradient(to bottom, hsl(180, 100%, 50%), hsl(180, 100%, 50%), hsl(180, 100%, 50%));}
  1%   {background: linear-gradient(to bottom, hsl(181, 100%, 50%), hsl(181, 100%, 50%), hsl(183, 100%, 49%));}
  2%   {background: linear-gradient(to bottom, hsl(182, 100%, 51%), hsl(183, 100%, 51%), hsl(185, 100%, 49%));}
  3%   {background: linear-gradient(to bottom, hsl(183, 100%, 51%), hsl(184, 100%, 51%), hsl(188, 100%, 49%));}
  4%   {background: linear-gradient(to bottom, hsl(184, 100%, 51%), hsl(186, 100%, 52%), hsl(190, 100%, 49%));}
  5%   {background: linear-gradient(to bottom, hsl(185, 100%, 51%), hsl(187, 100%, 52%), hsl(193, 100%, 49%));}
  6%   {background: linear-gradient(to bottom, hsl(186, 100%, 51%), hsl(189, 100%, 53%), hsl(195, 100%, 49%));}
  7%   {background: linear-gradient(to bottom, hsl(187, 100%, 52%), hsl(190, 100%, 53%), hsl(198, 100%, 49%));}
  8%   {background: linear-gradient(to bottom, hsl(188, 100%, 52%), hsl(192, 100%, 54%), hsl(200, 100%, 49%));}
  9%   {background: linear-gradient(to bottom, hsl(189, 100%, 52%), hsl(193, 100%, 54%), hsl(203, 100%, 49%));}
  10%  {background: linear-gradient(to bottom, hsl(190, 100%, 52%), hsl(195, 100%, 55%), hsl(205, 100%, 49%));}
  11%  {background: linear-gradient(to bottom, hsl(191, 100%, 52%), hsl(196, 100%, 55%), hsl(208, 100%, 49%));}
  12%  {background: linear-gradient(to bottom, hsl(192, 100%, 53%), hsl(198, 100%, 56%), hsl(210, 100%, 49%));}
  13%  {background: linear-gradient(to bottom, hsl(193, 100%, 53%), hsl(199, 100%, 56%), hsl(213, 100%, 49%));}
  14%  {background: linear-gradient(to bottom, hsl(194, 100%, 53%), hsl(201, 100%, 57%), hsl(215, 100%, 49%));}
  15%  {background: linear-gradient(to bottom, hsl(195, 100%, 53%), hsl(202, 100%, 57%), hsl(218, 100%, 49%));}
  16%  {background: linear-gradient(to bottom, hsl(196, 100%, 53%), hsl(204, 100%, 58%), hsl(220, 100%, 49%));}
  17%  {background: linear-gradient(to bottom, hsl(197, 100%, 54%), hsl(205, 100%, 58%), hsl(223, 100%, 49%));}
  18%  {background: linear-gradient(to bottom, hsl(198, 100%, 54%), hsl(207, 100%, 59%), hsl(225, 100%, 48%));}
  19%  {background: linear-gradient(to bottom, hsl(199, 100%, 54%), hsl(208, 100%, 59%), hsl(228, 100%, 48%));}
  20%  {background: linear-gradient(to bottom, hsl(200, 100%, 54%), hsl(210, 100%, 60%), hsl(230, 100%, 48%));}
  21%  {background: linear-gradient(to bottom, hsl(201, 100%, 54%), hsl(211, 100%, 60%), hsl(233, 100%, 48%));}
  22%  {background: linear-gradient(to bottom, hsl(202, 100%, 55%), hsl(213, 100%, 61%), hsl(235, 100%, 48%));}
  23%  {background: linear-gradient(to bottom, hsl(203, 100%, 55%), hsl(214, 100%, 61%), hsl(238, 100%, 48%));}
  24%  {background: linear-gradient(to bottom, hsl(204, 100%, 55%), hsl(216, 100%, 62%), hsl(240, 100%, 48%));}
  25%  {background: linear-gradient(to bottom, hsl(205, 100%, 55%), hsl(217, 100%, 62%), hsl(243, 100%, 48%));}
  26%  {background: linear-gradient(to bottom, hsl(206, 100%, 55%), hsl(219, 100%, 63%), hsl(245, 100%, 48%));}
  27%  {background: linear-gradient(to bottom, hsl(207, 100%, 56%), hsl(220, 100%, 63%), hsl(248, 100%, 48%));}
  28%  {background: linear-gradient(to bottom, hsl(208, 100%, 56%), hsl(222, 100%, 64%), hsl(250, 100%, 48%));}
  29%  {background: linear-gradient(to bottom, hsl(209, 100%, 56%), hsl(223, 100%, 64%), hsl(253, 100%, 48%));}
  30%  {background: linear-gradient(to bottom, hsl(210, 100%, 56%), hsl(225, 100%, 65%), hsl(255, 100%, 48%));}
  31%  {background: linear-gradient(to bottom, hsl(211, 100%, 56%), hsl(226, 100%, 65%), hsl(258, 100%, 48%));}
  32%  {background: linear-gradient(to bottom, hsl(212, 100%, 57%), hsl(228, 100%, 66%), hsl(260, 100%, 48%));}
  33%  {background: linear-gradient(to bottom, hsl(213, 100%, 57%), hsl(229, 100%, 66%), hsl(263, 100%, 48%));}
  34%  {background: linear-gradient(to bottom, hsl(214, 100%, 57%), hsl(231, 100%, 67%), hsl(265, 100%, 47%));}
  35%  {background: linear-gradient(to bottom, hsl(215, 100%, 57%), hsl(232, 100%, 67%), hsl(268, 100%, 47%));}
  36%  {background: linear-gradient(to bottom, hsl(216, 100%, 57%), hsl(234, 100%, 68%), hsl(270, 100%, 47%));}
  37%  {background: linear-gradient(to bottom, hsl(217, 100%, 58%), hsl(235, 100%, 68%), hsl(273, 100%, 47%));}
  38%  {background: linear-gradient(to bottom, hsl(218, 100%, 58%), hsl(237, 100%, 69%), hsl(275, 100%, 47%));}
  39%  {background: linear-gradient(to bottom, hsl(219, 100%, 58%), hsl(238, 100%, 69%), hsl(278, 100%, 47%));}
  40%  {background: linear-gradient(to bottom, hsl(220, 100%, 58%), hsl(240, 100%, 70%), hsl(280, 100%, 47%));}
  41%  {background: linear-gradient(to bottom, hsl(221, 100%, 58%), hsl(241, 100%, 70%), hsl(283, 100%, 47%));}
  42%  {background: linear-gradient(to bottom, hsl(222, 100%, 59%), hsl(243, 100%, 71%), hsl(285, 100%, 47%));}
  43%  {background: linear-gradient(to bottom, hsl(223, 100%, 59%), hsl(244, 100%, 71%), hsl(288, 100%, 47%));}
  44%  {background: linear-gradient(to bottom, hsl(224, 100%, 59%), hsl(246, 100%, 72%), hsl(290, 100%, 47%));}
  45%  {background: linear-gradient(to bottom, hsl(225, 100%, 59%), hsl(247, 100%, 72%), hsl(293, 100%, 47%));}
  46%  {background: linear-gradient(to bottom, hsl(226, 100%, 59%), hsl(249, 100%, 73%), hsl(295, 100%, 47%));}
  47%  {background: linear-gradient(to bottom, hsl(227, 100%, 60%), hsl(250, 100%, 73%), hsl(298, 100%, 47%));}
  48%  {background: linear-gradient(to bottom, hsl(228, 100%, 60%), hsl(252, 100%, 74%), hsl(300, 100%, 47%));}
  49%  {background: linear-gradient(to bottom, hsl(229, 100%, 60%), hsl(253, 100%, 74%), hsl(303, 100%, 47%));}
  50%  {background: linear-gradient(to bottom, hsl(230, 100%, 60%), hsl(255, 100%, 75%), hsl(305, 100%, 46%));}
  51%  {background: linear-gradient(to bottom, hsl(231, 100%, 60%), hsl(256, 100%, 75%), hsl(308, 100%, 46%));}
  52%  {background: linear-gradient(to bottom, hsl(232, 100%, 61%), hsl(258, 100%, 76%), hsl(310, 100%, 46%));}
  53%  {background: linear-gradient(to bottom, hsl(233, 100%, 61%), hsl(259, 100%, 76%), hsl(313, 100%, 46%));}
  54%  {background: linear-gradient(to bottom, hsl(234, 100%, 61%), hsl(261, 100%, 77%), hsl(315, 100%, 46%));}
  55%  {background: linear-gradient(to bottom, hsl(235, 100%, 61%), hsl(262, 100%, 77%), hsl(318, 100%, 46%));}
  56%  {background: linear-gradient(to bottom, hsl(236, 100%, 61%), hsl(264, 100%, 78%), hsl(320, 100%, 46%));}
  57%  {background: linear-gradient(to bottom, hsl(237, 100%, 62%), hsl(265, 100%, 78%), hsl(323, 100%, 46%));}
  58%  {background: linear-gradient(to bottom, hsl(238, 100%, 62%), hsl(267, 100%, 79%), hsl(325, 100%, 46%));}
  59%  {background: linear-gradient(to bottom, hsl(239, 100%, 62%), hsl(268, 100%, 79%), hsl(328, 100%, 46%));}
  60%  {background: linear-gradient(to bottom, hsl(240, 100%, 62%), hsl(270, 100%, 80%), hsl(330, 100%, 46%));}
  61%  {background: linear-gradient(to bottom, hsl(241, 100%, 62%), hsl(272, 100%, 80%), hsl(333, 100%, 46%));}
  62%  {background: linear-gradient(to bottom, hsl(242, 100%, 63%), hsl(274, 100%, 81%), hsl(335, 100%, 46%));}
  63%  {background: linear-gradient(to bottom, hsl(243, 100%, 63%), hsl(276, 100%, 81%), hsl(338, 100%, 46%));}
  64%  {background: linear-gradient(to bottom, hsl(244, 100%, 63%), hsl(278, 100%, 81%), hsl(340, 100%, 46%));}
  65%  {background: linear-gradient(to bottom, hsl(245, 100%, 63%), hsl(280, 100%, 81%), hsl(343, 100%, 46%));}
  66%  {background: linear-gradient(to bottom, hsl(246, 100%, 63%), hsl(282, 100%, 82%), hsl(345, 100%, 45%));}
  67%  {background: linear-gradient(to bottom, hsl(247, 100%, 64%), hsl(284, 100%, 82%), hsl(348, 100%, 45%));}
  68%  {background: linear-gradient(to bottom, hsl(248, 100%, 64%), hsl(286, 100%, 82%), hsl(350, 100%, 45%));}
  69%  {background: linear-gradient(to bottom, hsl(249, 100%, 64%), hsl(288, 100%, 82%), hsl(353, 100%, 45%));}
  70%  {background: linear-gradient(to bottom, hsl(250, 100%, 64%), hsl(290, 100%, 83%), hsl(355, 100%, 45%));}
  71%  {background: linear-gradient(to bottom, hsl(252, 100%, 64%), hsl(292, 100%, 83%), hsl(358, 100%, 45%));}
  72%  {background: linear-gradient(to bottom, hsl(254, 100%, 65%), hsl(294, 100%, 83%), hsl(360, 100%, 45%));}
  73%  {background: linear-gradient(to bottom, hsl(256, 100%, 65%), hsl(296, 100%, 83%), hsl(2, 100%, 45%));}
  74%  {background: linear-gradient(to bottom, hsl(258, 100%, 65%), hsl(298, 100%, 84%), hsl(6, 100%, 45%));}
  75%  {background: linear-gradient(to bottom, hsl(260, 100%, 65%), hsl(300, 100%, 84%), hsl(10, 100%, 45%));}
  76%  {background: linear-gradient(to bottom, hsl(262, 100%, 65%), hsl(302, 100%, 84%), hsl(14, 100%, 45%));}
  77%  {background: linear-gradient(to bottom, hsl(264, 100%, 65%), hsl(304, 100%, 84%), hsl(18, 100%, 45%));}
  78%  {background: linear-gradient(to bottom, hsl(266, 100%, 65%), hsl(306, 100%, 85%), hsl(22, 100%, 45%));}
  79%  {background: linear-gradient(to bottom, hsl(268, 100%, 65%), hsl(308, 100%, 85%), hsl(26, 100%, 45%));}
  80%  {background: linear-gradient(to bottom, hsl(270, 100%, 65%), hsl(310, 100%, 85%), hsl(30, 100%, 45%));}
  81%  {background: linear-gradient(to bottom, hsl(270, 100%, 60%), hsl(305, 100%, 80%), hsl(30, 100%, 50%));}
  82%  {background: linear-gradient(to bottom, hsl(270, 100%, 55%), hsl(305, 100%, 80%), hsl(20, 100%, 50%));}
  83%  {background: linear-gradient(to bottom, hsl(270, 100%, 50%), hsl(300, 100%, 75%), hsl(20, 100%, 55%));}
  84%  {background: linear-gradient(to bottom, hsl(270, 100%, 45%), hsl(295, 100%, 75%), hsl(10, 100%, 55%));}
  85%  {background: linear-gradient(to bottom, hsl(270, 100%, 40%), hsl(295, 100%, 70%), hsl(0, 100%, 60%));}
  86%  {background: linear-gradient(to bottom, hsl(270, 100%, 30%), hsl(285, 100%, 70%), hsl(340, 100%, 60%));}
  87%  {background: linear-gradient(to bottom, hsl(270, 100%, 25%), hsl(280, 100%, 65%), hsl(330, 100%, 65%));}
  88%  {background: linear-gradient(to bottom, hsl(270, 100%, 23%), hsl(275, 100%, 65%), hsl(320, 100%, 65%));}
  89%  {background: linear-gradient(to bottom, hsl(270, 100%, 23%), hsl(275, 100%, 60%), hsl(310, 100%, 70%));}
  90%  {background: linear-gradient(to bottom, hsl(270, 100%, 23%), hsl(275, 100%, 60%), hsl(300, 100%, 75%));}
  91%  {background: linear-gradient(to bottom, hsl(270, 100%, 23%), hsl(275, 100%, 55%), hsl(290, 100%, 80%));}
  92%  {background: linear-gradient(to bottom, hsl(270, 100%, 23%), hsl(275, 100%, 55%), hsl(280, 100%, 85%));}
  93%  {background: linear-gradient(to bottom, hsl(270, 100%, 20%), hsl(270, 100%, 50%), hsl(270, 100%, 85%));}
  94%  {background: linear-gradient(to bottom, hsl(270, 100%, 20%), hsl(270, 100%, 50%), hsl(270, 100%, 85%));}
  95%  {background: linear-gradient(to bottom, hsl(270, 100%, 20%), hsl(270, 100%, 50%), hsl(270, 100%, 75%));}
  96%  {background: linear-gradient(to bottom, hsl(270,100%,10%),   hsl(270,100%,50%),   hsl(270,100%,80%));}
  97%  {background: linear-gradient(to bottom, hsl(270,100%,10%),   hsl(270,100%,45%),   hsl(270,100%,75%));}
  98%  {background: linear-gradient(to bottom, hsl(270,100%,10%),   hsl(270,100%,40%),   hsl(270,100%,70%));}
  99%  {background: linear-gradient(to bottom, hsl(270,100%,10%),   hsl(270,100%,35%),   hsl(270,100%,60%));}
  100% {background: linear-gradient(to bottom, hsl(270,100%,10%),   hsl(270,100%,30%),   hsl(270,100%,50%));}
}
  
  #sky {
    position: absolute;
    height: 400px;
    width: 100%;
    animation: sunsetGradient 10s forwards linear;
  }

  @keyframes moveMoon {
    100% {transform: translateY(0)}
  }

  #moon {
    position: relative;
    left: 1200px;
    top: 100px;
    background-color: var(--moon);
    background-image: linear-gradient(
    45deg,
    white 0%,
    silver 50%,
    grey 100%
    );
    box-shadow: 0 0 30px 0px var(--moon), 0 0 100px 0 white;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    transform: translateY(-200px);
    animation: moveMoon 3s forwards 9s;
  }  
  