.capital-signpost-outer {
    top: 290px;
    left: var(--capital-signpost-left);
}
  
.capital-signpost-top {
    right: 50px;
    padding-left: 5px;
    width: 160px;
}

.capital-sp-triangle-right {
    right: 36px;
    top: 0;
}

.capital-sign-arrow-top { 
    transform: skew(30deg) translate(102px); 
}

.capital-sign-arrow-bottom { 
    transform: skew(-30deg) translate(102px); 
}

.capital-signpost-bottom {
    height: 80px;
}