html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
  --ben-nevis-height: 250px;
}

.ben-nevis-outer {
  position: absolute;
  top: calc(var(--landscape-top-height) - var(--ben-nevis-height));
  height: 250px;
  left: var(--ben-nevis-left);
  width: 800px; 
}

.ben-nevis-inner1 {
  position: relative;
  height: 250px;
  width: 500px;
  background-image: linear-gradient(
      50deg,
      var(--stone1) 50%,
      var(--grey-black) 100%
    );
  border-radius: 16% 80% 10% 10% / 32% 93% 1% 1%;
  left: 300px;
  top: -150px;
}

.ben-nevis-inner2 {
  position: relative;
  height: 150px;
  width: 400px;
  background-image: linear-gradient(
      50deg,
      var(--green5) 50%,
      var(--green3) 100%
    );
  border-radius: 73% 36% 10% 10% / 100% 93% 1% 1% ;
  top: 100px;
  z-index: 3;
  border: thin solid var(--green4);
}

.ben-nevis-inner3 {
  position: absolute;
  height: 180px;
  width: 600px;
  background-image: linear-gradient(
      90deg,
      var(--green5) 50%,
      var(--green4) 100%
    );
  border-radius: 74% 66% 10% 10% / 98% 100% 1% 0%;
  top: 70px;
  left: 200px;
  z-index: 2;
}

.ben-nevis-text {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 80px;
  left: 200px;
  z-index: 6;
  font-family: var(--ben-nevis-font);
  color: var(--white);
  text-align: center;
  font-size: 24px;
}

.person-bn {
  position: absolute;
  z-index: 10;
}

.person-bn1 { left: 345px; top: -90px; }
.person-bn2 { left: 55px; top: 57px; animation: climb-bn 15s infinite; }
.person-bn3 { left: 25px; top: 75px; animation: climb-bn 15s infinite; }

@keyframes wave2 { 
  0% {transform: rotate(40deg)}  
  50% {transform: rotate(60deg)} 
  100% {transform: rotate(40deg)}  
}

.arm-bn {
  transform: rotate(-40deg);
}

.wave {
  animation: wave 1s infinite;
}

.arm2 {
  transform: rotate(40deg);
 }

 .wave2 {
  animation: wave2 1s infinite;
 }

@keyframes climb-bn {
  0% {transform: translateX(0px) translateY(0px)}  
  50% {transform: translateX(200px) translateY(-60px)} 
  100% {transform: translateX(0px) translateY(0px)}
}

/* Signpost */
.scenic-signpost-outer {
  top: 100px;
  left: 900px;
}

.scenic-signpost-top {
  right: 50px;
  padding-left: 5px;
  width: 150px;
  background-color: var(--brown2) !important;
  color: var(--white);
  border-top: medium solid var(--white) !important;
  border-bottom: medium solid var(--white) !important;
  border-left: medium solid var(--white) !important;
}

.scenic-sign-arrow-top { 
  transform: skew(30deg) translate(92px); 
  background-color: var(--white) !important;
}

.scenic-sign-arrow-bottom { 
  transform: skew(-30deg) translate(92px); 
  background-color: var(--white) !important;
}

.scenic-sp-triangle-right {
  right: 36px;
  top: 0;
  border-left: 15px solid var(--white) !important;
}

.scenic-sp-inner-triangle {
  border-left: 14px solid var(--brown2) !important;   
}

.scenic-signpost-bottom {
  height: 120px;
}
